.image_callout {
  padding: 0;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 0;
  @include grid-media($medium-min) {
    padding: 0 20px;
    background-size: cover;
    background-position: 80% 50%;
  }
  @include grid-media($large-min) {
    padding: 0 40px;
      background-position: 50% 50%;
  }

  .mobile-img {
    display: block;
    width: auto;
    max-width: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    @include grid-media($medium-min) {
      display: none;
    }
  }
  .container {
    padding: 0;
    @include grid-media($medium-min) {
      padding: 0 24px;
    }
  }
  &_content {
    background: rgba(#0F1219,.7);
    color: #ffffff;
    max-width: 100%;
    width: 100%;
    position: relative;
    top:0;
    padding: 40px 20px 20px;

    @include grid-media($medium-min) {
      padding: 100px 40px 80px 0px;
      max-width: 60%;
      position: relative;
    }

    @include grid-media($large-min) {
      padding: 100px 60px 80px 0px;
      max-width: 50%;
    }

    &:before {
      position: absolute;
      background: rgba(#0F1219,.7);
      content: '';
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
    }


    p {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 30px;
      -webkit-font-smoothing: antialiased;
      @include grid-media($medium-min) {
        font-size: 24px;
        line-height: 32px;
      }
        @include grid-media($large-min) {
          font-size: 28px;
          line-height: 40px;
        }
    }
    h3 {
      margin-bottom: 10%;
    }
  }
}
