@import 'normalize';
html {
  box-sizing: border-box;
}
body{
	background-color: #F6F8F9;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@import 'animate';
@import 'variables';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'site-specific-styles';
